<%- include('../includes/head.ejs') %>
    <title>deposit page</title>
    <link rel="stylesheet" href="/css/deposit.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main><center>
                <div class = "cent">
                    <form class="deposit-control" action="/deposit" method="POST">
                        <div class = "form">
                            <h1>Balance</h1>
                            <%= BALANCE  %>
                        </div>
                        <div class="deposit-control">
                            <label for="amount">amount</label>
                            <input type="number" name="amount" id="amount">
                        </div>
                        <button class="butto" type="submit">deposit</button>
                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>