<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a>Shop</a>
            </li>
            <li class="main-header__item">
                <a>Products</a>
            </li>
                <li class="main-header__item">
                    <a>Cart</a>
                </li>
                <li class="main-header__item">
                    <a>Orders</a>
                </li>
                <li class="main-header__item">
                    <a>Add Product</a>
                </li>
                <li class="main-header__item">
                    <a>Admin Products</a>
                </li>
        </ul>
        <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a>Login</a>
                </li>
                <li class="main-header__item">
                    <a>Signup</a>
                </li>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
        </ul>
    </nav>
</header>

